{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> My Blog App is created using Django Web Framework for backend side, designed with bootswatch
        theme . </p>
      <a href="https://www.linkedin.com/in/anish-kumar-298007184" class="btn btn-danger">Visit me on linkdein</a>
      <a href="https://docs.djangoproject.com/en/3.1/" class="btn btn-secondary">Django Documentation </a>
    </div>
  </div>
</div>

{% endblock sidebar %}